In [57]:
import pandas as pd 
import numpy as np

In [58]:
dp = pd.read_csv("housing.csv")

In [59]:
df = dp.copy()

In [60]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [61]:
df['income_cat'] = pd.cut(df['median_income'], bins=[0, 1.5, 3.0, 4.5, 6.0, np.inf], labels = [1, 2, 3, 4, 5])

In [62]:
from sklearn.model_selection import StratifiedShuffleSplit
split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
for train_index, test_index in split.split(df, df['income_cat']):
    strat_train_set = df.loc(df, df[train_index])
    strat_test_set = df.loc(df, df[test_index])

KeyError: "None of [Index([12655, 15502,  2908, 14053, 20496,  1481, 18125,  5830, 17989,  4861,\n       ...\n       12396, 16476,  2271,  6980,  5206, 15174, 12661, 19263, 19140, 19773],\n      dtype='int64', length=16512)] are in the [columns]"

In [ ]:
df