In [148]:
import numpy as np
import pandas as pd

In [149]:
df = pd.read_csv("housing.csv")

In [150]:
data = df.copy()

In [151]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [152]:
data[data['total_bedrooms'].isnull()]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
290,-122.16,37.77,47.0,1256.0,NaN,570.0,218.0,4.3750,161900.0,NEAR BAY
341,-122.17,37.75,38.0,992.0,NaN,732.0,259.0,1.6196,85100.0,NEAR BAY
538,-122.28,37.78,29.0,5154.0,NaN,3741.0,1273.0,2.5762,173400.0,NEAR BAY
563,-122.24,37.75,45.0,891.0,NaN,384.0,146.0,4.9489,247100.0,NEAR BAY
696,-122.10,37.69,41.0,746.0,NaN,387.0,161.0,3.9063,178400.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20267,-119.19,34.20,18.0,3620.0,NaN,3171.0,779.0,3.3409,220500.0,NEAR OCEAN
20268,-119.18,34.19,19.0,2393.0,NaN,1938.0,762.0,1.6953,167400.0,NEAR OCEAN
20372,-118.88,34.17,15.0,4260.0,NaN,1701.0,669.0,5.1033,410700.0,<1H OCEAN
20460,-118.75,34.29,17.0,5512.0,NaN,2734.0,814.0,6.6073,258100.0,<1H OCEAN
20484,-118.72,34.28,17.0,3051.0,NaN,1705.0,495.0,5.7376,218600.0,<1H OCEAN

In [153]:
data ['income_cate']= pd.cut(data['median_house_value'], bins=[0, 1.5, 3.0, 4.5, 6.0, np.inf], labels=[1, 2, 3, 4, 5])

In [154]:
data['income_cate']

0        5
1        5
2        5
3        5
4        5
        ..
20635    5
20636    5
20637    5
20638    5
20639    5
Name: income_cate, Length: 20640, dtype: category
Categories (5, int64): [1 < 2 < 3 < 4 < 5]

In [155]:
from sklearn.model_selection import StratifiedShuffleSplit

In [172]:
splits = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)

In [178]:
for train_index, test_index in split.split(data, data['income_cate']):
    x_train_set = data.loc[train_index]
    y_test_set = data.loc[test_index]

In [158]:
x_train_set

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,income_cate
11604,-118.01,33.79,23.0,2663.0,430.0,1499.0,403.0,5.7837,258000.0,<1H OCEAN,5
10897,-117.84,33.73,20.0,2572.0,732.0,1534.0,669.0,2.4211,175000.0,<1H OCEAN,5
12076,-117.60,33.87,15.0,7626.0,1570.0,3823.0,1415.0,3.4419,138100.0,INLAND,5
13277,-117.64,34.09,34.0,2839.0,659.0,1822.0,631.0,3.0500,121300.0,INLAND,5
308,-122.18,37.77,51.0,2107.0,471.0,1173.0,438.0,3.2552,120100.0,NEAR BAY,5
...,...,...,...,...,...,...,...,...,...,...,...
12528,-121.49,38.56,35.0,1521.0,457.0,987.0,455.0,1.9013,86900.0,INLAND,5
5642,-118.31,33.74,36.0,2464.0,472.0,1111.0,457.0,4.5074,350000.0,NEAR OCEAN,5
8763,-118.37,33.81,33.0,5057.0,790.0,2021.0,748.0,6.8553,482200.0,NEAR OCEAN,5
941,-122.03,37.54,16.0,4458.0,856.0,3038.0,870.0,5.0739,208000.0,NEAR BAY,5
4309,-118.32,34.09,44.0,2666.0,NaN,2297.0,726.0,1.6760,208800.0,<1H OCEAN,5