In [146]:
import numpy as np

In [148]:
import pandas as pd

In [173]:
df = pd.read_csv("college_data.txt")

In [175]:
print(df)

           Sr No.            \tSeat                     Number \tPRN  \
1    \tNCAB020365  2024015200374904       \tAAKKA CHIMA PAWARA  \t08
2    \tNCAB020366  2024015200374885       \tAARTI SANTOSH RAUT  \t08
3    \tNCAB020367  2024015200376315  \tAARYANI INDRAJEET PARVE  \t08
4    \tNCAB020368  2024015200368745    \tADERAO ASMITA SUBHASH  \t08
5    \tNCAB020369  2024015200367966      \tADITYA BALU SATDIVE  \t08
..            ...               ...                        ...   ...
276  \tNCAB039777  2024015200720037       \tSHINDE JIVAN BABAN  \t08
277  \tNCAB039778  2024015200484424  \tSURAJ NANASAHEB KHATANE  \t08
278  \tNCAB039779  2024015200366093       \tTARPE VIKAS VASANT  \t08
279  \tNCAB039780  2024015200552926   \tVAIBHAV NAMDEV GAVHANE  \t08
280  \tNCAB039781  2024015200575813  \tVAIBHAV RAJENDRA THORAT  \t08

        \tStudent Name                                   \tCollege Code  \
1         \tVivekanand                                             Arts
2         \tVivekanand                                             Arts
3            \tVivekan                                         and Arts
4    \tVivekanand Arts   Sardar Dalipsingh Commerce and Science College
5      \tVivekanand Ar                                               ts
..                 ...                                              ...
276  \tVivekanand Arts   Sardar Dalipsingh Commerce and Science College
277  \tVivekanand Arts   Sardar Dalipsingh Commerce and Science College
278  \tVivekanand Arts   Sardar Dalipsingh Commerce and Science College
279  \tVivekanand Arts   Sardar Dalipsingh Commerce and Science College
280  \tVivekanand Arts   Sardar Dalipsingh Commerce and Science College

                                        College Name  \
1     Sardar Dalipsingh Commerce and Science College
2     Sardar Dalipsingh Commerce and Science College
3     Sardar Dalipsingh Commerce and Science College
4                          Chhatrapati Sambhajinagar
5     Sardar Dalipsingh Commerce and Science College
..                                               ...
276                        Chhatrapati Sambhajinagar
277                           Chhatrapati Sambhajina
278                        Chhatrapati Sambhajinagar
279                           Chhatrapati Sambhajina
280                        Chhatrapati Sambhajinagar

                     Unnamed: 7
1     Chhatrapati Sambhajinagar
2     Chhatrapati Sambhajinagar
3     Chhatrapati Sambhajinagar
4                           NaN
5     Chhatrapati Sambhajinagar
..                          ...
276                         NaN
277                         gar
278                         NaN
279                         gar
280                         NaN

[280 rows x 8 columns]